
################################################################################
# Added by UiPath Studio
# Prevent caching and local artifacts from being committed
################################################################################
.local
.project
.settings
.tmh

################################################################################
# End of UiPath Studio common ignores
################################################################################
